<!-- Footer Section Begin -->
<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="/" class="navbar-brand fw-bold">ZentoStay</a>
                    </div>
                    <p>Khách sạn của chúng tôi cam kết mang đến cho bạn trải nghiệm lưu trú tuyệt vời nhất.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h5>Thông Tin</h5>
                    <ul class="list-unstyled">
                        <li><a href="/about">Về Chúng Tôi</a></li>
                        <li><a href="/contact">Liên Hệ</a></li>
                        <li><a href="/room">Phòng</a></li>
                        <li><a href="/services">Dịch Vụ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h5>Liên Hệ</h5>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-geo-alt me-2"></i>19 Lý Thái Tổ, Long Xuyên, An Giang</li>
                        <li><i class="bi bi-telephone me-2"></i>(84) 974-562-765</li>
                        <li><i class="bi bi-envelope me-2"></i>info@zentostay.com</li>
                    </ul>
                    <div class="social-links mt-3">
                        <a href="#" class="me-3"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="me-3"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="me-3"><i class="bi bi-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="footer__copyright text-center">
                    <p>&copy; 2025 ZentoStay. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>