<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Đăng Ký</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="bg-light">

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card shadow">
        <div class="card-header bg-dark text-white text-center">
          <h4><i class="bi bi-person-fill"></i>Đăng Ký Tài Khoản</h4>
        </div>
        <div class="card-body">
          <form action="/register" method="POST" enctype="multipart/form-data">
            <div class="row g-3">
              <div class="col-md-6">
                <label class="form-label">Tên đăng nhập</label>
                <input type="text" class="form-control" name="tenDangNhap" required>
              </div>
              <div class="col-md-6">
                <label class="form-label">Họ và Tên</label>
                <input type="text" class="form-control" name="hoVaTen" required>
              </div>
              <div class="col-md-6">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" name="email" required>
              </div>
              <div class="col-md-6">
                <label class="form-label">Số Điện Thoại</label>
                <input type="text" class="form-control" name="soDienThoai" required>
              </div>
              <div class="col-md-6">
                <label class="form-label">Ảnh</label>
                <input type="file" class="form-control" name="hinhAnh">
              </div>
              <div class="col-12">
                <label class="form-label">Địa chỉ</label>
                <textarea class="form-control" name="diaChi" rows="2"></textarea>
              </div>
              <div class="col-md-6">
                <label class="form-label">Ngày Sinh</label>
                <input type="date" class="form-control" name="ngaySinh">
              </div>
              <div class="col-md-6">
                <label class="form-label">Mật Khẩu</label>
                <input type="password" class="form-control" name="matKhau" required>
              </div>
              <div class="col-md-6">
                <label class="form-label">Nhập Lại Mật Khẩu</label>
                <input type="password" class="form-control" name="matKhauLai" required>
              </div>
            </div>
            <div class="mt-4 text-center">
              <button type="submit" class="btn btn-dark" name="btnregister">ĐĂNG KÝ</button>
              <label class="form-label">Bạn đã có tài khoản?</label>
              <a href="/login">Đăng nhập</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
