<!-- Sidebar Section Begin -->
<div class="sidebar">
    <div class="sidebar__item">
        <h4>Tiện Nghi</h4>
        <ul>
            <li>
                <input type="checkbox" id="wifi" name="amenities" value="wifi">
                <label for="wifi">Wifi</label>
            </li>
            <li>
                <input type="checkbox" id="dieuHoa" name="amenities" value="dieuHoa">
                <label for="dieuHoa">Điều Hoà</label>
            </li>
            <li>
                <input type="checkbox" id="tivi" name="amenities" value="tivi">
                <label for="tivi">Tivi</label>
            </li>
            <li>
                <input type="checkbox" id="spa" name="amenities" value="spa">
                <label for="spa">Spa</label>
            </li>
            <li>
                <input type="checkbox" id="maySuoi" name="amenities" value="maySuoi">
                <label for="maySuoi">Máy Sưởi</label>
            </li>
            <li>
                <input type="checkbox" id="nongLanh" name="amenities" value="nongLanh">
                <label for="nongLanh">Nóng Lạnh</label>
            </li>
        </ul>
    </div>
    <div class="sidebar__item">
        <h4>Giá Phòng</h4>
        <div class="price-range-wrap">
            <div class="price-range"></div>
            <div class="range-slider">
                <div class="price-input">
                    <input type="text" id="minamount">
                    <input type="text" id="maxamount">
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar__item">
        <h4>Loại Phòng</h4>
        <ul>
            <li>
                <input type="checkbox" id="vip" name="roomType" value="vip">
                <label for="vip">Phòng VIP</label>
            </li>
            <li>
                <input type="checkbox" id="standard" name="roomType" value="standard">
                <label for="standard">Phòng Tiêu Chuẩn</label>
            </li>
            <li>
                <input type="checkbox" id="basic" name="roomType" value="basic">
                <label for="basic">Phòng Cơ Bản</label>
            </li>
        </ul>
    </div>
</div>
<!-- Sidebar Section End --> 